*.swp
*.swo
*.tmp
.prettierrc
._.DS_Store
composer.lock
package-lock.json
mockapi/lib/
mockapi/lib64/
**/__pycache__/
**/node_modules/
**/vendor/
reqman/reqman.html
**/sqldb/*.db
**/tests/dependances/tmp/*
**/.vscode/
**/tmp/
**/delivery/